.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url('./poza.jpg');

  background-position: center;
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
  padding-top: 70px;
  margin: 0;
}


.meniu{
  background: linear-gradient(to right,#00394d 50%, #007099 50%);
 margin: auto;
  width: 75%;
  border: 1px solid black;
  padding: 0px;
}

li {
  display: inline;
  list-style-type: none;
  text-align:center;
  text-decoration: none;
  margin:auto;
}

li a 
{
  display:inline;
  width:100px;
  color: #000000;
  font-size:30px;
  text-decoration:none;
  margin-left:-30px;
  text-align:center;
  padding: 80px;
}

select {
  background-color: #555350;
  color: black;
  padding: 20px;
  font-size: 20px;
  width:300px;
  border: none;
  cursor: pointer;
   
}

li a:hover {
  color: #FFF;
}

ul
{
  font-weight: bold;
  text-decoration: none;
  background: #00a8e6;
  margin:auto;
  height:100px;
  text-align: center;
  padding: 0px;
  width:100%;
  
}

h2
{
  font-size: 20px;
}

.autentificare
{
  margin-top: -135px;
  margin-left: 750px;
}
.login
{
  margin-top: -20px;
  margin-left:150px;
}

.meniuContinut {
  background: linear-gradient(to right,#00394d 50%, #007099 50%);
  
  padding: 40px;
}



